/*导航栏内容*/
.header {
    width: 1600px;
    height: 34px;
    padding: 0 159px; /*两边留白*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f9f9f9;
    color: #646464;
    font: 12px 'Hiragino Sans GB',"simsun","Arial";
}
.header ul {
    padding: 0;
    display: flex;
}
.header ul>li {
    padding: 0 8px;
    background: left -293px no-repeat url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png);
}


/*广告栏*/
.ad {
    width: 960px;
    display: block;
    margin: 20px auto;
    overflow: hidden;
}

/*标题*/
.title {
    width: 960px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
/*步骤*/
.procedure {
    width: 634px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    color: #646464;
    background: 0 0 no-repeat url("http://shopping.dangdang.com/shoppingcart/images/procedure_bg.png");
}
.procedure span {
    width: 206px;
    display: inline-block;
    text-align: center;
    font: bold 14px/36px "Microsoft Yahei";
}
.curProcedure {
    color: #fff;
}
/*线*/
.line {
    width: 100%;
    height: 4px;
    margin: 20px;
    background: #ff2832;
}


.body {
    width: 960px;
    margin: 0 auto;
}
/*配送地址*/
.address {
    height: 22px;
    display: inline-flex;
    margin: 15px 0;
    padding: 0 15px;
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    font-size: 12px;
    color: #969696;
    line-height: 22px;
}
.address i {    /*图片*/
    width: 22px;
    margin-right: 4px;
    background: url(http://shopping.dangdang.com/shoppingcart/images/icon_sprite.png) 0 5px no-repeat;
}
.address>div {  /*地址*/
    border: 1px solid #ebebeb;
    color: #646464;
}
.address>div>span { /*目前地址*/
    height: 19px;
    display: block;
    padding: 0 14px 0 5px;
    background: url(http://shopping.dangdang.com/shoppingcart/images/icon_sprite.png) no-repeat right -56px #fff;
}
/*购物车列表*/
.list_header {
    display: flex;
    justify-content: space-between;
    color: #969696;
}
/*勾选框*/
.check {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 2px solid #bcbcbc;
    border-radius: 3px;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}
.checked {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 3px;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    border-color: #ff2832;
    background-color: #ff2832;
}

.sum_bar {
    width: 100%;
    z-index: 1;
    position: static;
    bottom: -20px;
}
.sum_bar>div {  /*背景块*/
    width: 960px;
    height: 72px;
    margin: 20px auto;
    position: relative;
    background: url("http://shopping.dangdang.com/shoppingcart/images/shopping_total.png") 0 center no-repeat;
    color: #969696;
    font-size: 12px;
}
.bar_left {
    width: 430px;
    display: flex;
    justify-content: space-around;
    line-height: 58px;
}
.bar_left b span {
    color: #ff2832;
}
.bar_right {
    width: 530px;
    height: 61px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 0;
}
.bar_right>div {
    width: 209px;
}
.bar_right p:nth-of-type(1) span {    /*金额*/
    color: #ff2832;
    font-size: 18px;
}
.bar_right>a {  /*结算*/
    width: 116px;
    height: 38px;
    background: #F00;
    border-radius: 2px;
    font: bold 18px/38px "Microsoft Yahei";
    color: #fff;
    text-align: center;
}

.list>p {   /*店铺名*/
    padding-left: 15px;
}
.list table {
    width: 961px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    font-size: 12px;
    color: #323232;
 }
table td {
    padding-top: 17px;
}
td:nth-of-type(n + 2) {
    vertical-align: top;
}
tr>td:nth-of-type(n + 3) {
    border-bottom: 1px solid #ebebeb;
}
.col_img img {
    width: 80px;
}
.col_name:hover {
    color: #ff2832;
    text-decoration: underline;
}
.col_num {
    height: 102px;
    margin-right: 0;
}
.col_num input {
    width: 30px;
}

.shop_sum {
    height: 53px;
    background: #fafafa;
}
.shop_sum b {
    display: inline-block;
    margin-left: 50px;
    line-height: 52px;
    font-size: 12px;
}
.shop_sum span {
    display: inline-block;
    float: right;
    margin: 15px 150px 0 0;
    color: #ff2832;
    font-size: 16px;
 }