.cart {
  background: no-repeat url("http://img63.ddimg.cn/upload_img/00459/home/home_sprite2.png");
}

/*导航栏内容*/
.section {
  width: 1519px;
  height: 34px;
  padding: 0 159px; /*两边留白*/

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f9f9;
  color: #646464;

  font: 12px 'Hiragino Sans GB',"simsun","Arial";
}

/*导航栏第二部分*/
.section div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

/*导航栏第三部分内容*/
.welcome span {
  color: #ff2832;
}
.welcome a {
  display: inline-block;
  margin: 0 8px 0 6px;
}
.ul {
  height: 22px;
  padding: 0;
  display: flex;
}
.ul>li {
  height: 22px;
  background: left -293px no-repeat url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png);
  line-height: 22px;
}
.ul li>a {
  padding: 0 7px 0 8px;
}
.ul .expand_li>a {  /*扩展列表标题*/
  padding-right: 27px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat right -308px;
}
.expand_li>a:hover {
  background: #fff;
  border: 1px solid #e6e6e6;
}
.ul>.expand_li ul { /*扩展列表*/
  background: #fff;
  border: 1px solid #e6e6e6;
  position: absolute; /*脱离文档流，使其显示在搜索框之上*/
}

.body {
  margin-top: 20px;
  padding: 0 162px;
}
