.header {
    width: 1196px;
    height: 40px;
    display: flex;
}

.rush_buy {
    display: inline-block;
    width: 83px;
    border-bottom: 2px solid #3c3c3c;
}
.rush_buy img {
    width: 64px;
    height: 39px;
}

.clock {
    width: 217px;   /*用来调整场次位置*/
    padding-left: 51px;
    background: no-repeat 18px 0 url(http://img63.ddimg.cn/upload_img/00111/home/home_miaosha.png);
    color: #666;
    border-bottom: 2px solid #3c3c3c;
}

/*_时分秒*/
.clock > div {
    width: 38px;
    height: 24px;
    display: inline-block;
    line-height: 30px;
}

/*场次 ul*/
.time_order {
    display: flex;
    width: 792px;
    border-bottom: 2px solid #3c3c3c;
}
.time_order>li {
    width: 80px;
    margin-right: 50px;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.time_order>li:hover {
    border-bottom: 3px solid #ff2832;
}

/*厂商周*/
.week {
    width: 225px;
    padding-left: 7px;
    border-bottom: 2px solid #ff2832;
    color: #ff2832;
    font-size: 20px;
}

.container {
    width: 992px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-right: none;
    border-bottom: none;
    vertical-align: top;
}
.bookBox {
    width: 198px;
    height: 236px;
    display: inline-block;
    position: relative;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.bookBox>a {    /*Link组件*/
    width: 160px;
    height: 150px;
    display: block;
    margin: 10px auto;
}
.img {
    width: 160px;
    height: 150px;
    margin: 15px auto 0;
}
.process {
    width: 76px;
    height: 20px;
    position: absolute;
    top: 156px;
    left: 66px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #ffb7b7;
    border-radius: 10px;
}
.name {
    width: 162px;
    height: 19px;
    display: block;
    position: absolute;
    top: 180px;
    font-size: 12px;
    line-height: 18px;
    color: #646464;
    overflow: hidden;
}
.name:hover {
    color: #ff2832;
}
.price {
    position: absolute;
    top: 200px;
    color: #ff2832;
    font-size: 12px;
}
.price span:nth-of-type(1) {
    font-size: 16px;
    color: #ff2832;
}
.price span:nth-of-type(2) {
    position: relative;
    left: 5px;
    font-size: 12px;
    color: #969696;
    text-decoration: line-through;
}

.ad {
    width: 203px;
    display: inline-block;
}
.ad li {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}