.header {
    width: 1203px;
    height: 40px;
    display: flex;
}

.rush_buy {
    display: inline-block;
    width: 83px;
    border-bottom: 2px solid #3c3c3c;
}
.rush_buy img {
    width: 64px;
    height: 39px;
}

.clock {
    width: 217px;   /*用来调整场次位置*/
    padding-left: 51px;
    background: no-repeat 18px 0 url(http://img63.ddimg.cn/upload_img/00111/home/home_miaosha.png);
    color: #666;
    border-bottom: 2px solid #3c3c3c;
}

/*_时分秒*/
.clock > div {
    width: 38px;
    height: 24px;
    display: inline-block;
    line-height: 30px;
}

/*场次 ul*/
.time_order {
    display: flex;
    width: 669px;
    border-bottom: 2px solid #3c3c3c;
}
.time_order>li {
    width: 80px;
    margin-right: 50px;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.time_order>li:hover {
    border-bottom: 3px solid #ff2832;
}

/*厂商周*/
.week {
    width: 233px;
    padding-left: 7px;
    border-bottom: 2px solid #ff2832;
    color: #ff2832;
    font-size: 20px;
}